%clearfix {
    zoom: 1;
    
    &:before,
    &:after {
        content: '';
        display: table;
    }

    &:after {
        clear: both;
    }
}

@mixin clearfix {
    zoom: 1;
    
    &:before,
    &:after {
        content: '';
        display: table;
    }

    &:after {
        clear: both;
    }
}

@mixin background-transition {
    transition: background-color .2s linear;
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        color: $placeholder-colour !important; 
    }

    &:-moz-placeholder { 
        color: $placeholder-colour !important;
        opacity: 1; 
    }
    
    &::-moz-placeholder { 
        color: $placeholder-colour !important; 
    }
    
    &:-ms-input-placeholder { 
        color: $placeholder-colour !important; 
    }
}

@mixin background-rgba($colour, $opacity: .5) {
    background: $colour;
    background-color: rgba($colour, $opacity);
}

@mixin border-colour($colour) {
    border-color: darken($colour, 15%);
}

@mixin respond-to($media) {
    @if $media == handhelds {
        @media only screen and (max-width: $break-small) { @content; }
    } @else if $media == medium-screens {
        @media only screen and (max-width: $break-medium) { @content; }
    } @else if $media == wide-screens {
        @media only screen and (max-width: $break-large) { @content; }
    }
}


