// ffffff
// 000000
// Colors
$river-bed: #444a62;
$periwinkle-gray: #c6ccea;
$sunglo: #e17776; // Error field and message






$border-colour: #c3c5cc; //inputs
$pannel-border-colour: #c9d0e1; // Quote and help


// 668002 // a.help:focus
// eff2eb // ajax float bgnd
// aaaaaa // .form-panel-content .ajax-float {border}

// cccccc // ajax float border only
// eff1f8 // li border
// f0f3f3 // Focus and pre/suffix


// Semantic colour names
$link-colour: #438bca;
$text-colour: $river-bed;
$secondary-text-colour: #6e768f;
$header-colour: $river-bed;
$header-text-colour: $periwinkle-gray; 
$footer-colour: $river-bed;
$footer-text-colour: $periwinkle-gray;
$placeholder-colour: #b7b7b7;
$body-background-colour: #eceef4;
$error-background-colour: $sunglo;
