//brake points
// todo http://thesassway.com/intermediate/responsive-web-design-in-sass-using-media-queries-in-sass-32#variables-in-queries-using-content
$rwd-pappa-bear: 1000px;
$rwd-momma-bear: 789px;
$rwd-baby-bear: 479px;

$break-small: 479px;
$break-medium: 789px;
$break-large: 1000px;
