@mixin button-colour($colour) {
    background-color: $colour;
    border-color: darken($colour, 15%);
    
    @if lightness($colour) > 75% {
        color: $text-colour;
    }@else {
        color: #ffffff;
    }

    &:hover,
    &:active,
    &:focus {
        background-color: darken($colour, 5%);
    }

    @include respond-to(handhelds) {
        width: 100%;
    }
}

%button {

    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    line-height: 1;
    margin-bottom: 6px;
    margin-right: 15px;
    margin-top: 8px;
    min-height: 37px;
    // =  line-height + border + padding
    padding: 5px;

    cursor: pointer;
    min-width: 125px;

    &:active {
        position: relative;
        top: 1px;
    }
}

.button {
    @extend %button;
    @include button-colour(#5fcac6);
}

.button--secondary {
    @extend %button;
    @include button-colour(#3399ff);
}

.button--tertiary {
    @extend %button;
    @include button-colour(#74b533);
    
}

.button--muted {
    @extend %button;
    @include button-colour(#f7f7fa);
}

