// .button {
//     cursor: pointer;
//     text-decoration: none;
//     min-width: 125px;
//     background-repeat: repeat-x;
//     color: #464646;

//     &:hover,
//     &:active,
//     &:focus {
//         background-color: #000000;
//     }

//     &:active {
//         position: relative;
//         top: 1px;
//     }
// }

@mixin button-colour($colour) {
    background-color: $colour;
    border-color: darken($colour, 15%);
    
    @if lightness($colour) > 75% {
        color: $text-colour;
    }@else {
        color: #ffffff;
    }

    &:hover,
    &:active,
    &:focus {
        background-color: darken($colour, 5%);
    }
}

%button {
    cursor: pointer;
    text-decoration: none;
    min-width: 125px;

    &:active {
        position: relative;
        top: 1px;
    }
}

.button.large {
    min-width: 50%;
    font-size: 20px;
    font-weight: bold;
    padding: 1em;
}

.button-secondary {
    @extend %button;
    @include button-colour(#3399ff);
}

.button-primary {
    @extend %button;
    @include button-colour(#5fcac6);

}

.button-is-selected {
    @extend %button;
    @include button-colour(#74b533);
    
}

.button-not-selected {
    @extend %button;
    @include button-colour(#f7f7fa);
}

