.help-link {
    vertical-align: top;
    position: absolute;
    top: 8px;
    right: 10px;
    display: inline-block;
    min-height: 35px;
    line-height: 35px;
    width: 35px;
    text-align: center;
    font-weight: bold;
    border-radius: 18px;
    text-decoration: none;
    border: 1px solid $pannel-border-colour;
    background-color: transparent;

    transition: 
        background-color    .2s linear 
        border-color        .2s 
        color               .2s linear;

    &:focus,
    &:hover {
        background-color: $link-colour;;
        border-color: $link-colour;;
        color: $white;
    }

    &:focus {
        outline: 1px dotted $border-colour;
    }

    @include respond-to(handhelds) { 
        display: block;
        position: static;
    }

}
