.help-bubble {
    color: $white;
    font-size: 14px;
    line-height: 23px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 10px;
    z-index: 20;

    &.is-hidden {
        display: none;
    }

    @include respond-to(medium-screens) { 
        max-width: 450px;
        padding: 0;
    }

}

.help-bubble__content {
    border-radius: 4px;
    padding-bottom: 30px;
    @include background-rgba($header-colour, .95);

    p {
        padding: 10px 15px 0;
        max-width: 350px;
    }

    ul {
        margin: 10px 15px 0 40px;
        list-style: disc outside;
    }

    li {
        padding: 3px 0;
    }
}

.help-bubble__header {
    padding: 15px 15px 0;
    font-weight: bold;
}

.help-bubble__close-link {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
    position: absolute;
    right: 20px;

    &:hover {
        color: $white;
    }
}
