// Golden Scale for 16px Font (http://www.pearsonified.com/typography/)

// H1		Title: 				42px (68px line height)
// H2		Headlines: 			26px (42px line height)
// H3		Sub-headlines: 		20px (32px line height)
// H4		Sub-Sub-headlines: 	16px (26px line height)
// BODY	Primary text: 		16px (26px line height)
// i em	Secondary Text: 	13px (21px line height)
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    *behavior: url('/assets/js/boxsizing.htc');
    -webkit-text-size-adjust: 100%;
}

html {
    height: auto;
    max-height: none;
}

body {
    height: auto;
    max-height: none;
    font: normal normal normal 16px/26px Arial, Helvetica, sans-serif;
    color: $text-colour;
    margin: 0;
    background-color: $body-background-colour;
}

#quote {
    width: 960px;
    margin: 0 auto;
}

header {
    @extend %clearfix;
    background-color: #444a62;
    margin-bottom: 37px;
}

nav {
    width: 100%;
    margin: 30px 0;
    padding: 0 25px;
}

footer {
    @extend %clearfix;
    background-color: $footer-colour;
    margin-top: 37px;
}

strong {
    font-weight: bold;
}

abbr {
    border-bottom: 1px dotted;
    cursor: help;
}

h1 {
    font-family: Raleway;
    font-size: 42px;
    line-height: 1.4;
    font-weight: 500;
    margin: 15px auto;
    color: $header-text-colour;
    width: 960px;
}

h2 {
    font-family: Raleway;
    font-size: 42px;
    line-height: 1.4;
    font-weight: 300;
    margin: .5em 25px;
}

h3 {
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.4;
    font-weight: 300;
    margin: 1em 0;
}

a {
    color: $link-colour;
    text-decoration: underline;
    
    &:hover {
        text-decoration: none;
    }
}

// =====================================================================================================	*/
//	quote-panel	*/
// =====================================================================================================	*/
#quote {
    @extend %clearfix;
    background-color: #ffffff;
    border: 1px solid #c9d0e1;
    border-radius: 6px;
}

.quote-panel {
    @extend %clearfix;
    padding: 0 25px;
}

.quote-panel-content {
    @extend %clearfix;
}

[class^='message'] + .quote-panel,
p + .quote-panel-content,
[class^='message'] + [class^='message'],
.quote-panel + [class^='message'] {
    margin-top: 25px;
}

p {
    display: block;
    clear: both;
    padding: 10px;
    max-width: 685px;
    //	Golden Ratio Typography
}

.quote-panel-content > ul {
    display: block;
    float: left;
    width: 100%;
}

.quote-panel-content > ul > li {
    display: block;
    float: left;
    width: 100%;
    clear: both;
    padding: 5px;
    border-top: 1px solid #eff1f8;
}

.quote-panel-content > ul > li[class^='message'] + li,
.quote-panel-content > ul > li:first-child {
    border-top: none;
}

.quote-panel p {
    padding-left: 0;
    padding-right: 0;
}

.quote-panel-content label {
    display: block;
    float: left;
    width: 45%;
    text-align: right;
    padding: 13px 9px 8px 10px;
}

.quote-panel-content li > div,
.quote-panel-content li > span {
    display: block;
    float: right;
    width: 55%;
    position: relative;
    padding: 0 57px 0 9px;
}

.quote-panel-content li > div > label {
    //	marketing questions
    float: none;
    text-align: left;
    width: 100%;
}

.quote-panel-content label i,
.quote-panel-content span > i {
    //	SUB TEXT
    display: block;
    clear: both;
    font-size: 13px;
    line-height: 21px;
    font-style: normal;
    font-weight: normal;
    color: $secondary-text-colour;
}

.quote-panel-content span > b {
    //	PREFIX	
    display: inline-block;
    padding-top: 13px;
    margin-right: 5px;
    font-weight: normal;
}

.quote-panel-content span > p {
    //	INLINE VALUE	*/
    padding: 5px 0;
    margin: 8px 10px 0 0;
    display: inline-block;
}

//=====================================================================================================	*/
//	ERRORS	*/
//=====================================================================================================	*/
.quote-panel-content li.error {
    //	ROW ERROR	*/
    background-color: $error-background-colour;
    border-top: 1px solid transparent;
    color: #ffffff;
    margin: 1px 0;
}

.quote-panel-content li.error + li {
    border-top: 1px solid transparent;
}

.quote-panel-content .error > label {
    font-weight: bold;
}

//=====================================================================================================	*/
//	INPUTS	*/
//*=====================================================================================================	*/
//	RADIO GROUP	*/
.radio-group div {
    float: left;
    min-width: 105px;
    padding: 0;
}

.radio-group label {
    display: inline;
    width: 100%;
    min-width: 80px;
    margin-right: 0;
    font-weight: normal;
    float: right;
    cursor: pointer;
    padding: 9px 30px 10px;
    text-align: left;
}

.radio-group label i {
    width: auto;
    text-align: left;
    color: #464646;
}

.radio-group .is-selected label, .radio-group .is-selected label i {
    color: #ffffff;
}

.radio-group input {
    margin: 10px 0 0 10px;
    position: absolute;
    /*	IE PIXEL SHIFT BUG*/
}

.radio-group input:focus {
    box-shadow: 0 0 3px green;
}

//	END RADIO GROUP	*/
button::-moz-focus-inner {
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    // REMOVE WEBKIT SPINNERS */
    -webkit-appearance: none;
    margin: 0;
}

input[type='text'], 
input[type='email'], 
input[type='number'], 
input[type='tel'], 
select, 
button, 
.button {
    border-radius: 2px;
    border: 1px solid #c3c5cc;
    background: #ffffff;
    padding: 5px;
    margin-right: 15px;
    margin-top: 8px;
    margin-bottom: 6px;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    //line-height: inherit;	don't do as buttons and inputs react differently	*/
    line-height: 1;
    box-sizing: border-box;
    //	FF: LIN-HEIGHT BUG */
    min-height: 37px;
    // =  line-height + border + padding*/
    //	IE: LAYOUT BUG */
    vertical-align: top;
}

input[type='text']:focus, 
input[type='email']:focus, 
input[type='number']:focus, 
input[type='tel']:focus, 
select:focus {
    background-color: #f0f3f3;
}

input[type='text'], 
input[type='email'], 
input[type='number'], 
input[type='tel'] {
    width: 225px;
    // REMOVE IOS INNER SHADOW */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(0, 0%, 100%, 0)), to(hsla(0, 0%, 100%, 0)));
    background-image: -webkit-linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0));
    @include placeholder;
}

select {
    min-width: 225px;
    max-width: 225px;
    padding-top: 6px;
    // 1px more than input*/
    &.min {
        min-width: 0;
    }
}

input.pre,
select.pre {
    margin-right: 5px;
}

input[type='radio'],
input[type='checkbox'] {
    cursor: pointer;
    padding: 0;
}

.quote-panel-content span > b.prefix,
.quote-panel-content span > b.suffix {
    margin: 0;
    margin-top: 8px;
    background-color: #f0f3f3;
    border: 1px solid #c3c5cc;
    width: 40px;
    display: inline-block;
    padding: 4px 5px 5px;
    text-align: center !important;
}

input.prefix {
    width: 185px;
    border-radius: 0 2px 2px 0;
    border-left: 0;
}

input.suffix {
    width: 185px;
    border-radius: 2px 0 0 2px;
    border-right: 0;
    margin-right: 0;
}

b.prefix {
    border-radius: 2px 0 0 2px;
}

b.suffix {
    border-radius: 0 2px 2px 0;
    margin-right: 15px !important;
}

/*	OVERIDES*/
input[type='text'].search {
    background-image: url('../images/icon-search.png');
    background-repeat: no-repeat;
    background-position: 0.2em center;
    padding-left: 20px;
}

input[type='tel'].sort-code {
    width: 35px;
    text-align: center;
}

input[type='tel'].phone {
    width: 136px;
}

input[type='tel'].numericinput {
    width: 48px !important;
}

/*=====================================================================================================	*/
/*	HELP	*/
/*=====================================================================================================	*/
a.help {
    vertical-align: top;
    position: absolute;
    top: 8px;
    right: 10px;
    display: inline-block;
    min-height: 35px;
    line-height: 35px;
    width: 35px;
    text-align: center;
    font-weight: bold;
    /*	NEW FLAT DESIGN	*/
    border-radius: 18px;
    text-decoration: none;
    border: 1px solid #c9d0e1;
    background-color: transparent;
}

a.help:focus,
a.help:hover {
    background-color: $link-colour;;
    border-color: $link-colour;;
    color: #ffffff;
}

a.help:focus {
    outline: 1px dotted #668002;
}

/*=====================================================================================================	*/
/*	PAGING	*/
/*=====================================================================================================	*/
nav {
    text-align: right;
}

nav button {
    display: inline-block;
    width: 200px;
    text-align: center;
    margin: 0;
}

nav .button.primary {
    float: right;
}

nav .button.grey {
    float: left;
    width: 100px;
    width: 125px;
    min-width: 0;
    margin-top: 3px;
    font-weight: normal;
}

/*=====================================================================================================	*/
/*	TRANSITIONS	*/
/*=====================================================================================================	*/
a.help,
.quote-panel-content li,
input[type='text'], input[type='email'], input[type='number'], input[type='tel'] {
    transition: background-color .2s linear;
}

a.help {
    transition: background-color .2s linear color .2s linear border-color .2s;
}

/*=====================================================================================================	*/
/*	MEDIA QUERIES	*/
/*=====================================================================================================	*/

@media all and (max-width: $rwd-pappa-bear) {
    header h1,
    #quote {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media all and (max-width: $rwd-momma-bear) {
    .quote-panel-content li > label {
        float: none;
        text-align: left;
        width: auto;
        padding: 0;
    }

    .quote-panel-content li > span {
        width: 100%;
        padding-left: 0;
    }

    .quote-panel-content .ajax-float {
        left: 0;
    }

    .quote-panel-content li > div {
        padding-left: 0;
        width: 100%;
    }
}

@media all and (max-width: $rwd-baby-bear) {
    body {
        min-width: 320px;
    }

    .quote-panel {
        padding: 0;
    }

    .quote-panel h3,
    .quote-panel p,
    .quote-panel-content > ul > li {
        padding-left: 10px;
        padding-right: 10px;
    }

    .quote-panel-content li > div,
    .quote-panel-content li > span {
        padding-right: 0;
    }

    header h1, 
    #quote {
        margin-left: 10px;
        margin-right: 10px;
    }

    .button {
        width: 100%;
    }

    .quote-panel h3 {
        background-color: $header-colour;
        color: $header-text-colour;
        margin-bottom: .5em;
        padding: 0.5em 10px;
    }

    /*=====================================================================================================	*/
    /*	RADIO GROUPS	*/
    /*=====================================================================================================	*/
    .quote-panel-content li > div > label {
        padding-left: 0;
        padding-right: 0;
    }

    .quote-panel-content .radio-group div.button {
        /*	BOOL - 50/50 SPLIT	*/
        margin-right: 0;
        width: 48%;
    }

    .quote-panel-content .radio-group div:first-child {
        margin-right: 4%;
    }

    .quote-panel-content .radio-group.not-bool div {
        /*	NOT BOOL 100% WIDTH	*/
        margin-right: 0;
        clear: both;
        width: 100%;
    }
    /*=====================================================================================================	*/
    /*	INPUTS	*/
    /*=====================================================================================================	*/
    
    .quote-panel-content select, 
    input[type='text'], 
    input[type='email'], 
    input[type='number'] {
        width: 100% !important;
        max-width: 100%;
    }
    
    .quote-panel-content select.min {
        width: auto !important;
    }
    
    input.sort-code {
        width: 35px !important;
    }
    
    .quote-panel-content span > b.prefix,
    .quote-panel-content span > b.suffix {
        width: 15%;
    }

    .quote-panel-content span > b.suffix {
        margin-right: 0 !important;
    }
    
    input.suffix,
    input.prefix {
        width: 85% !important;
        margin-right: 0;
    }

    .quote-panel-content .ajax-float {
        width: 100%;
    }
    /*=====================================================================================================	*/
    /*	HELP	*/
    /*=====================================================================================================	*/
    .radio-group .help {
        //	FIXES RADIO GROUP TOP MARGIN BUG 
        display: inline-block;
    }
    
    a.help {
        //	FIXES DISPLAY BLOCK 100%
        width: 120px;
        display: block;
        position: static;
    }
    /*=====================================================================================================	*/
    /*	PAGING	*/
    /*=====================================================================================================	*/
    nav {
        position: relative;
        text-align: left;
        margin: 25px 0 30px;
    }
    
    nav .button.primary {
        float: none;
        width: 100%;
        display: block;
    }
    
    nav .button.grey {
        position: absolute;
        margin-top: 0;
        top: 81px;
    }

    nav .button.grey + .button.primary {
        margin-bottom: 82px;
    }
}

