html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header, footer, #quote, .quote-panel, .quote-panel-content {
  zoom: 1;
}
header:before, footer:before, #quote:before, .quote-panel:before, .quote-panel-content:before, header:after, footer:after, #quote:after, .quote-panel:after, .quote-panel-content:after {
  content: '';
  display: table;
}
header:after, footer:after, #quote:after, .quote-panel:after, .quote-panel-content:after {
  clear: both;
}

.button-secondary, .button-primary, .button-is-selected, .button-not-selected {
  cursor: pointer;
  text-decoration: none;
  min-width: 125px;
}
.button-secondary:active, .button-primary:active, .button-is-selected:active, .button-not-selected:active {
  position: relative;
  top: 1px;
}

.button.large {
  min-width: 50%;
  font-size: 20px;
  font-weight: bold;
  padding: 1em;
}

.button-secondary {
  background-color: #3399ff;
  border-color: #0073e6;
  color: #ffffff;
}
.button-secondary:hover, .button-secondary:active, .button-secondary:focus {
  background-color: #1a8cff;
}

.button-primary {
  background-color: #5fcac6;
  border-color: #37a6a1;
  color: #ffffff;
}
.button-primary:hover, .button-primary:active, .button-primary:focus {
  background-color: #4cc4bf;
}

.button-is-selected {
  background-color: #74b533;
  border-color: #4e7922;
  color: #ffffff;
}
.button-is-selected:hover, .button-is-selected:active, .button-is-selected:focus {
  background-color: #67a12d;
}

.button-not-selected {
  background-color: #f7f7fa;
  border-color: #c8c8dd;
  color: #444a62;
}
.button-not-selected:hover, .button-not-selected:active, .button-not-selected:focus {
  background-color: #e7e7f0;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  *behavior: url("/assets/js/boxsizing.htc");
  -webkit-text-size-adjust: 100%;
}

html {
  height: auto;
  max-height: none;
}

body {
  height: auto;
  max-height: none;
  font: normal normal normal 16px/26px Arial, Helvetica, sans-serif;
  color: #444a62;
  margin: 0;
  background-color: #eceef4;
}

#quote {
  width: 960px;
  margin: 0 auto;
}

header {
  background-color: #444a62;
  margin-bottom: 37px;
}

nav {
  width: 100%;
  margin: 30px 0;
  padding: 0 25px;
}

footer {
  background-color: #444a62;
  margin-top: 37px;
}

strong {
  font-weight: bold;
}

abbr {
  border-bottom: 1px dotted;
  cursor: help;
}

h1 {
  font-family: Raleway;
  font-size: 42px;
  line-height: 1.4;
  font-weight: 500;
  margin: 15px auto;
  color: #c6ccea;
  width: 960px;
}

h2 {
  font-family: Raleway;
  font-size: 42px;
  line-height: 1.4;
  font-weight: 300;
  margin: .5em 25px;
}

h3 {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.4;
  font-weight: 300;
  margin: 1em 0;
}

a {
  color: #438bca;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

#quote {
  background-color: #ffffff;
  border: 1px solid #c9d0e1;
  border-radius: 6px;
}

.quote-panel {
  padding: 0 25px;
}

[class^='message'] + .quote-panel,
p + .quote-panel-content,
[class^='message'] + [class^='message'],
.quote-panel + [class^='message'] {
  margin-top: 25px;
}

p {
  display: block;
  clear: both;
  padding: 10px;
  max-width: 685px;
}

.quote-panel-content > ul {
  display: block;
  float: left;
  width: 100%;
}

.quote-panel-content > ul > li {
  display: block;
  float: left;
  width: 100%;
  clear: both;
  padding: 5px;
  border-top: 1px solid #eff1f8;
}

.quote-panel-content > ul > li[class^='message'] + li,
.quote-panel-content > ul > li:first-child {
  border-top: none;
}

.quote-panel p {
  padding-left: 0;
  padding-right: 0;
}

.quote-panel-content label {
  display: block;
  float: left;
  width: 45%;
  text-align: right;
  padding: 13px 9px 8px 10px;
}

.quote-panel-content li > div,
.quote-panel-content li > span {
  display: block;
  float: right;
  width: 55%;
  position: relative;
  padding: 0 57px 0 9px;
}

.quote-panel-content li > div > label {
  float: none;
  text-align: left;
  width: 100%;
}

.quote-panel-content label i,
.quote-panel-content span > i {
  display: block;
  clear: both;
  font-size: 13px;
  line-height: 21px;
  font-style: normal;
  font-weight: normal;
  color: #6e768f;
}

.quote-panel-content span > b {
  display: inline-block;
  padding-top: 13px;
  margin-right: 5px;
  font-weight: normal;
}

.quote-panel-content span > p {
  padding: 5px 0;
  margin: 8px 10px 0 0;
  display: inline-block;
}

.quote-panel-content li.error {
  background-color: #e17776;
  border-top: 1px solid transparent;
  color: #ffffff;
  margin: 1px 0;
}

.quote-panel-content li.error + li {
  border-top: 1px solid transparent;
}

.quote-panel-content .error > label {
  font-weight: bold;
}

.radio-group div {
  float: left;
  min-width: 105px;
  padding: 0;
}

.radio-group label {
  display: inline;
  width: 100%;
  min-width: 80px;
  margin-right: 0;
  font-weight: normal;
  float: right;
  cursor: pointer;
  padding: 9px 30px 10px;
  text-align: left;
}

.radio-group label i {
  width: auto;
  text-align: left;
  color: #464646;
}

.radio-group .is-selected label, .radio-group .is-selected label i {
  color: #ffffff;
}

.radio-group input {
  margin: 10px 0 0 10px;
  position: absolute;
  /*	IE PIXEL SHIFT BUG*/
}

.radio-group input:focus {
  box-shadow: 0 0 3px green;
}

button::-moz-focus-inner {
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='text'],
input[type='email'],
input[type='number'],
input[type='tel'],
select,
button,
.button {
  border-radius: 2px;
  border: 1px solid #c3c5cc;
  background: #ffffff;
  padding: 5px;
  margin-right: 15px;
  margin-top: 8px;
  margin-bottom: 6px;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: 1;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  min-height: 37px;
  vertical-align: top;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='number']:focus,
input[type='tel']:focus,
select:focus {
  background-color: #f0f3f3;
}

input[type='text'],
input[type='email'],
input[type='number'],
input[type='tel'] {
  width: 225px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}
input[type='text']::-webkit-input-placeholder,
input[type='email']::-webkit-input-placeholder,
input[type='number']::-webkit-input-placeholder,
input[type='tel']::-webkit-input-placeholder {
  color: #b7b7b7 !important;
}
input[type='text']:-moz-placeholder,
input[type='email']:-moz-placeholder,
input[type='number']:-moz-placeholder,
input[type='tel']:-moz-placeholder {
  color: #b7b7b7 !important;
  opacity: 1;
}
input[type='text']::-moz-placeholder,
input[type='email']::-moz-placeholder,
input[type='number']::-moz-placeholder,
input[type='tel']::-moz-placeholder {
  color: #b7b7b7 !important;
}
input[type='text']:-ms-input-placeholder,
input[type='email']:-ms-input-placeholder,
input[type='number']:-ms-input-placeholder,
input[type='tel']:-ms-input-placeholder {
  color: #b7b7b7 !important;
}

select {
  min-width: 225px;
  max-width: 225px;
  padding-top: 6px;
}
select.min {
  min-width: 0;
}

input.pre,
select.pre {
  margin-right: 5px;
}

input[type='radio'],
input[type='checkbox'] {
  cursor: pointer;
  padding: 0;
}

.quote-panel-content span > b.prefix,
.quote-panel-content span > b.suffix {
  margin: 0;
  margin-top: 8px;
  background-color: #f0f3f3;
  border: 1px solid #c3c5cc;
  width: 40px;
  display: inline-block;
  padding: 4px 5px 5px;
  text-align: center !important;
}

input.prefix {
  width: 185px;
  border-radius: 0 2px 2px 0;
  border-left: 0;
}

input.suffix {
  width: 185px;
  border-radius: 2px 0 0 2px;
  border-right: 0;
  margin-right: 0;
}

b.prefix {
  border-radius: 2px 0 0 2px;
}

b.suffix {
  border-radius: 0 2px 2px 0;
  margin-right: 15px !important;
}

/*	OVERIDES*/
input[type='text'].search {
  background-image: url("../images/icon-search.png");
  background-repeat: no-repeat;
  background-position: 0.2em center;
  padding-left: 20px;
}

input[type='tel'].sort-code {
  width: 35px;
  text-align: center;
}

input[type='tel'].phone {
  width: 136px;
}

input[type='tel'].numericinput {
  width: 48px !important;
}

/*=====================================================================================================	*/
/*	HELP	*/
/*=====================================================================================================	*/
a.help {
  vertical-align: top;
  position: absolute;
  top: 8px;
  right: 10px;
  display: inline-block;
  min-height: 35px;
  line-height: 35px;
  width: 35px;
  text-align: center;
  font-weight: bold;
  /*	NEW FLAT DESIGN	*/
  border-radius: 18px;
  text-decoration: none;
  border: 1px solid #c9d0e1;
  background-color: transparent;
}

a.help:focus,
a.help:hover {
  background-color: #438bca;
  border-color: #438bca;
  color: #ffffff;
}

a.help:focus {
  outline: 1px dotted #668002;
}

/*=====================================================================================================	*/
/*	PAGING	*/
/*=====================================================================================================	*/
nav {
  text-align: right;
}

nav button {
  display: inline-block;
  width: 200px;
  text-align: center;
  margin: 0;
}

nav .button.primary {
  float: right;
}

nav .button.grey {
  float: left;
  width: 100px;
  width: 125px;
  min-width: 0;
  margin-top: 3px;
  font-weight: normal;
}

/*=====================================================================================================	*/
/*	TRANSITIONS	*/
/*=====================================================================================================	*/
a.help,
.quote-panel-content li,
input[type='text'], input[type='email'], input[type='number'], input[type='tel'] {
  -webkit-transition: background-color .2s linear;
          transition: background-color .2s linear;
}

a.help {
  -webkit-transition: background-color .2s linear color .2s linear border-color .2s;
          transition: background-color .2s linear color .2s linear border-color .2s;
}

/*=====================================================================================================	*/
/*	MEDIA QUERIES	*/
/*=====================================================================================================	*/
@media all and (max-width: 1000px) {
  header h1,
  #quote {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media all and (max-width: 789px) {
  .quote-panel-content li > label {
    float: none;
    text-align: left;
    width: auto;
    padding: 0;
  }

  .quote-panel-content li > span {
    width: 100%;
    padding-left: 0;
  }

  .quote-panel-content .ajax-float {
    left: 0;
  }

  .quote-panel-content li > div {
    padding-left: 0;
    width: 100%;
  }
}
@media all and (max-width: 479px) {
  body {
    min-width: 320px;
  }

  .quote-panel {
    padding: 0;
  }

  .quote-panel h3,
  .quote-panel p,
  .quote-panel-content > ul > li {
    padding-left: 10px;
    padding-right: 10px;
  }

  .quote-panel-content li > div,
  .quote-panel-content li > span {
    padding-right: 0;
  }

  header h1,
  #quote {
    margin-left: 10px;
    margin-right: 10px;
  }

  .button {
    width: 100%;
  }

  .quote-panel h3 {
    background-color: #444a62;
    color: #c6ccea;
    margin-bottom: .5em;
    padding: 0.5em 10px;
  }

  /*=====================================================================================================	*/
  /*	RADIO GROUPS	*/
  /*=====================================================================================================	*/
  .quote-panel-content li > div > label {
    padding-left: 0;
    padding-right: 0;
  }

  .quote-panel-content .radio-group div.button {
    /*	BOOL - 50/50 SPLIT	*/
    margin-right: 0;
    width: 48%;
  }

  .quote-panel-content .radio-group div:first-child {
    margin-right: 4%;
  }

  .quote-panel-content .radio-group.not-bool div {
    /*	NOT BOOL 100% WIDTH	*/
    margin-right: 0;
    clear: both;
    width: 100%;
  }

  /*=====================================================================================================	*/
  /*	INPUTS	*/
  /*=====================================================================================================	*/
  .quote-panel-content select,
  input[type='text'],
  input[type='email'],
  input[type='number'] {
    width: 100% !important;
    max-width: 100%;
  }

  .quote-panel-content select.min {
    width: auto !important;
  }

  input.sort-code {
    width: 35px !important;
  }

  .quote-panel-content span > b.prefix,
  .quote-panel-content span > b.suffix {
    width: 15%;
  }

  .quote-panel-content span > b.suffix {
    margin-right: 0 !important;
  }

  input.suffix,
  input.prefix {
    width: 85% !important;
    margin-right: 0;
  }

  .quote-panel-content .ajax-float {
    width: 100%;
  }

  /*=====================================================================================================	*/
  /*	HELP	*/
  /*=====================================================================================================	*/
  .radio-group .help {
    display: inline-block;
  }

  a.help {
    width: 120px;
    display: block;
    position: static;
  }

  /*=====================================================================================================	*/
  /*	PAGING	*/
  /*=====================================================================================================	*/
  nav {
    position: relative;
    text-align: left;
    margin: 25px 0 30px;
  }

  nav .button.primary {
    float: none;
    width: 100%;
    display: block;
  }

  nav .button.grey {
    position: absolute;
    margin-top: 0;
    top: 81px;
  }

  nav .button.grey + .button.primary {
    margin-bottom: 82px;
  }
}
.message-error-up:before, .message-error-down:after, .message-info-up:before, .message-info-down:after {
  content: '';
  height: 0;
  width: 0;
  left: 50%;
  position: absolute;
  margin-left: -8px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
}

div[class^='message'] {
  margin: 0 25px;
}

.message-master {
  position: relative;
  border-radius: 6px;
  border: 1px solid #e6e8ee;
  padding: 10px 0;
}
.message-master p {
  padding: 10px 20px;
  margin: 0;
}
.message-master h3 {
  margin: 10px 25px 15px;
  font-size: 29px;
}
@media all and (max-width: 479px) {
  .message-master {
    border-left: 0 none !important;
    border-radius: 0 !important;
    border-right: 0 none !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.message-error, .message-error-up, .message-error-down {
  position: relative;
  border-radius: 2px;
  background-color: #e17776;
  border-color: #e17776;
  color: #ffffff;
  font-weight: bold;
}
.message-error p, .message-error-up p, .message-error-down p {
  padding: 10px 20px;
  margin: 0;
}
.message-error h3, .message-error-up h3, .message-error-down h3 {
  margin: 10px 25px 15px;
  font-size: 29px;
}
@media all and (max-width: 479px) {
  .message-error, .message-error-up, .message-error-down {
    border-left: 0 none !important;
    border-radius: 0 !important;
    border-right: 0 none !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.message-info, .message-info-up, .message-info-down {
  position: relative;
  border-radius: 2px;
  background-color: #3399ff;
  border-color: #3399ff;
  color: #ffffff;
  font-weight: bold;
}
.message-info p, .message-info-up p, .message-info-down p {
  padding: 10px 20px;
  margin: 0;
}
.message-info h3, .message-info-up h3, .message-info-down h3 {
  margin: 10px 25px 15px;
  font-size: 29px;
}
@media all and (max-width: 479px) {
  .message-info, .message-info-up, .message-info-down {
    border-left: 0 none !important;
    border-radius: 0 !important;
    border-right: 0 none !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.message-error-up:before {
  border-bottom-color: inherit;
  border-bottom-style: solid;
  border-bottom-width: 16px;
  top: -10px;
}

.message-error-down:after {
  border-top-color: inherit;
  border-top-style: solid;
  border-top-width: 16px;
  bottom: -10px;
}

.message-info-up:before {
  border-bottom-color: inherit;
  border-bottom-style: solid;
  border-bottom-width: 16px;
  top: -10px;
}

.message-info-down:after {
  border-top-color: inherit;
  border-top-style: solid;
  border-top-width: 16px;
  bottom: -10px;
}

.help-bubble {
  color: #ffffff;
  font-size: 14px;
  line-height: 23px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 10px;
  z-index: 20;
}
.help-bubble.is-hidden {
  display: none;
}
@media all and (max-width: 789px) {
  .help-bubble {
    max-width: 450px;
    padding: 0;
    margin-left: -5px;
  }
}

.help-bubble-content {
  border-radius: 4px;
  padding-bottom: 30px;
  background: #444a62;
  background-color: rgba(68, 74, 98, 0.95);
}
.help-bubble-content p {
  padding: 10px 15px 0;
  max-width: 350px;
}
.help-bubble-content ul {
  margin: 10px 15px 0 40px;
  list-style: disc outside;
}
.help-bubble-content li {
  padding: 3px 0;
}

.help-bubble-header {
  padding: 15px 15px 0;
  font-weight: bold;
}

.help-bubble-close-button {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  position: absolute;
  right: 20px;
}
.help-bubble-close-button:hover {
  color: #ffffff;
}
