.global-header, .global-footer, #quote, .form-panel, .form-panel-content {
  zoom: 1;
}
.global-header:before, .global-footer:before, #quote:before, .form-panel:before, .form-panel-content:before, .global-header:after, .global-footer:after, #quote:after, .form-panel:after, .form-panel-content:after {
  content: '';
  display: table;
}
.global-header:after, .global-footer:after, #quote:after, .form-panel:after, .form-panel-content:after {
  clear: both;
}

.form-group, input.form-control {
  -webkit-transition: background-color .2s linear;
          transition: background-color .2s linear;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  *behavior: url("/assets/js/boxsizing.htc");
  -webkit-text-size-adjust: 100%;
}

html {
  height: auto;
  max-height: none;
}

body {
  height: auto;
  max-height: none;
  font: normal normal normal 16px/26px Arial, Helvetica, sans-serif;
  color: #444a62;
  background-color: #eceef4;
}

@media only screen and (max-width: 479px) {
  body {
    min-width: 320px;
  }
}
strong {
  font-weight: bold;
}

abbr {
  border-bottom: 1px dotted;
  cursor: help;
}

h1 {
  font-family: Raleway;
  font-size: 42px;
  line-height: 1.4;
  font-weight: 500;
  margin: 15px auto;
  color: #c6ccea;
  max-width: 960px;
}

h2 {
  font-family: Raleway;
  font-size: 42px;
  line-height: 1.4;
  font-weight: 300;
  margin: .5em 25px;
}

h3 {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.4;
  font-weight: 300;
  margin: 1em 0;
}

p {
  display: block;
  clear: both;
  padding: 10px;
  max-width: 685px;
}

a {
  color: #438bca;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

button::-moz-focus-inner {
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

input[type='radio'],
input[type='checkbox'] {
  cursor: pointer;
  padding: 0;
}

.button-secondary, .button-primary, .button-is-selected, .button-not-selected {
  cursor: pointer;
  text-decoration: none;
  min-width: 125px;
}
.button-secondary:active, .button-primary:active, .button-is-selected:active, .button-not-selected:active {
  position: relative;
  top: 1px;
}

.button.large {
  min-width: 50%;
  font-size: 20px;
  font-weight: bold;
  padding: 1em;
}

.button-secondary {
  background-color: #3399ff;
  border-color: #0073e6;
  color: #ffffff;
}
.button-secondary:hover, .button-secondary:active, .button-secondary:focus {
  background-color: #1a8cff;
}

.button-primary {
  background-color: #5fcac6;
  border-color: #37a6a1;
  color: #ffffff;
}
.button-primary:hover, .button-primary:active, .button-primary:focus {
  background-color: #4cc4bf;
}

.button-is-selected {
  background-color: #74b533;
  border-color: #4e7922;
  color: #ffffff;
}
.button-is-selected:hover, .button-is-selected:active, .button-is-selected:focus {
  background-color: #67a12d;
}

.button-not-selected {
  background-color: #f7f7fa;
  border-color: #c8c8dd;
  color: #444a62;
}
.button-not-selected:hover, .button-not-selected:active, .button-not-selected:focus {
  background-color: #e7e7f0;
}

#quote {
  width: 960px;
  margin: 0 auto;
}

.global-header {
  background-color: #444a62;
  margin-bottom: 37px;
}

.global-footer {
  background-color: #444a62;
  margin-top: 37px;
}

#quote {
  background-color: #ffffff;
  border: 1px solid #c9d0e1;
  border-radius: 6px;
}

.form-panel {
  padding: 0 25px;
}

[class^='message'] + .form-panel,
p + .form-panel-content,
[class^='message'] + [class^='message'],
.form-panel + [class^='message'] {
  margin-top: 25px;
}

.form-group {
  display: block;
  float: left;
  width: 100%;
  clear: both;
  padding: 5px;
  border-top: 1px solid #eff1f8;
}

li[class^='message'] + .form-group,
.form-group:first-child {
  border-top: 0;
}

.form-panel p {
  padding-left: 0;
  padding-right: 0;
}

.form-label {
  display: block;
  float: left;
  width: 45%;
  text-align: right;
  padding: 13px 10px 8px;
}

.form-answer {
  display: block;
  float: right;
  width: 55%;
  position: relative;
  padding: 0 55px 0 10px;
}

.form-answer > label {
  display: block;
  padding: 13px 9px 8px 10px;
}

.form-hint {
  display: block;
  clear: both;
  font-size: 13px;
  line-height: 21px;
  font-style: normal;
  font-weight: normal;
  color: #6e768f;
}

.form-control-delimiter {
  display: inline-block;
  padding-top: 13px;
  margin-right: 10px;
  margin-left: -5px;
  font-weight: normal;
}

.unit-prefix,
.unit-suffix {
  display: inline-block;
  padding-top: 13px;
  margin-right: 15px;
  font-weight: normal;
}

.form-group.has-error {
  background-color: #e17776;
  border-top: 1px solid transparent;
  color: #ffffff;
  margin: 1px 0;
}
.form-group.has-error + .form-group {
  border-top: 1px solid transparent;
}
.form-group.has-error .form-label {
  font-weight: bold;
}

.radio-group div {
  float: left;
  min-width: 105px;
  padding: 0;
}

.radio-group label {
  display: inline;
  width: 100%;
  min-width: 80px;
  margin-right: 0;
  font-weight: normal;
  float: right;
  cursor: pointer;
  padding: 9px 30px 10px;
  text-align: left;
}

.radio-group .form-hint {
  color: inherit;
}

.radio-group .is-selected label {
  color: #ffffff;
}

.radio-group input {
  margin: 10px 0 0 10px;
  position: absolute;
  /*	IE PIXEL SHIFT BUG*/
}

.form-control,
button,
.button {
  border-radius: 2px;
  border: 1px solid #c3c5cc;
  background: #ffffff;
  padding: 5px;
  margin-right: 15px;
  margin-top: 8px;
  margin-bottom: 6px;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: 1;
  box-sizing: border-box;
  min-height: 37px;
  vertical-align: top;
}

.form-control:focus {
  background-color: #f0f3f3;
}

input.form-control {
  width: 225px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}
input.form-control::-webkit-input-placeholder {
  color: #b7b7b7 !important;
}
input.form-control:-moz-placeholder {
  color: #b7b7b7 !important;
  opacity: 1;
}
input.form-control::-moz-placeholder {
  color: #b7b7b7 !important;
}
input.form-control:-ms-input-placeholder {
  color: #b7b7b7 !important;
}

select.form-control {
  min-width: 225px;
  max-width: 225px;
  padding-top: 6px;
}
select.form-control.min {
  min-width: 0;
}

.unit-prefix,
.unit-suffix {
  margin: 0;
  margin-top: 8px;
  background-color: #f0f3f3;
  border: 1px solid #c3c5cc;
  width: 40px;
  padding: 4px 5px 5px;
  text-align: center !important;
}

.has-prefix {
  width: 185px;
  border-radius: 0 2px 2px 0;
  border-left: 0;
}

.has-suffix {
  width: 185px;
  border-radius: 2px 0 0 2px;
  border-right: 0;
  margin-right: 0;
}

.unit-prefix {
  border-radius: 2px 0 0 2px;
}

.unit-suffix {
  border-radius: 0 2px 2px 0;
  margin-right: 15px !important;
}

/*	OVERIDES*/
.form-control.search {
  background-image: url("../images/icon-search.png");
  background-repeat: no-repeat;
  background-position: .2em center;
  padding-left: 20px;
}

.form-control.sort-code {
  width: 35px;
  text-align: center;
}

.form-control.numericinput {
  width: 48px !important;
}

/*=====================================================================================================	*/
/*	MEDIA QUERIES	*/
/*=====================================================================================================	*/
@media only screen and (max-width: 1000px) {
  .global-header h1,
  .global-footer h1,
  #quote {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media only screen and (max-width: 789px) {
  .form-label {
    float: none;
    text-align: left;
    width: auto;
    padding: 0;
  }

  .form-answer {
    padding-left: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 479px) {
  body {
    min-width: 320px;
  }

  .form-panel {
    padding: 0;
  }

  .form-panel p,
  .form-group {
    padding-left: 10px;
    padding-right: 10px;
  }

  .form-answer {
    padding-right: 0;
  }

  .global-header h1,
  .global-footer h1,
  #quote {
    margin-left: 10px;
    margin-right: 10px;
  }

  .button {
    width: 100%;
  }

  /*===================================================================================================== */
  /*  RADIO GROUPS    */
  /*===================================================================================================== */
  .form-answer > label {
    padding-left: 0;
    padding-right: 0;
  }

  .form-panel-content .radio-group div.button {
    /*  BOOL - 50/50 SPLIT  */
    margin-right: 0;
    width: 48%;
  }

  .form-panel-content .radio-group div:first-child {
    margin-right: 4%;
  }

  .form-panel-content .radio-group.not-bool div {
    /*  NOT BOOL 100% WIDTH */
    margin-right: 0;
    clear: both;
    width: 100%;
  }

  /*===================================================================================================== */
  /*  INPUTS  */
  /*===================================================================================================== */
  .form-control {
    width: 100% !important;
    max-width: 100%;
  }

  .form-control.min {
    width: auto !important;
  }

  .form-control.sort-code {
    width: 35px !important;
  }

  .unit-prefix,
  .unit-suffix {
    width: 15%;
  }

  .unit-suffix {
    margin-right: 0 !important;
  }

  .has-suffix,
  .has-prefix {
    width: 85% !important;
    margin-right: 0;
  }

  .form-panel-content .ajax-float {
    width: 100%;
  }

  /*===================================================================================================== */
  /*  HELP    */
  /*===================================================================================================== */
  .radio-group .help-link {
    display: inline-block;
  }
}
.fieldset-title {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.4;
  font-weight: 300;
  margin: 1em 0;
  width: 100%;
}
@media only screen and (max-width: 479px) {
  .fieldset-title {
    background-color: #444a62;
    color: #c6ccea;
    margin-bottom: .5em;
    padding: .5em 10px;
  }
}

.textual-value {
  padding: 5px 0;
  margin: 8px 10px 0 0;
  display: inline-block;
}

.touch-control {
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #c3c5cc;
  border-radius: 2px;
  box-sizing: border-box;
  display: block;
  padding: 0 !important;
  min-width: 105px;
  line-height: 1;
  float: left;
  position: relative;
  margin: 8px 15px 6px 0;
  cursor: pointer;
}
@media only screen and (max-width: 479px) {
  .touch-control {
    width: 48%;
    margin-right: 0;
  }
  .touch-control:first-child {
    margin-right: 4%;
  }
}
.touch-control > input {
  margin: 10px 0 0 10px;
  position: absolute;
}
.touch-control span {
  padding: 9px 30px 10px;
  float: right;
  min-width: 80px;
  width: 100%;
}

.message-error-up:before, .message-error-down:after, .message-info-up:before, .message-info-down:after {
  content: '';
  height: 0;
  width: 0;
  left: 50%;
  position: absolute;
  margin-left: -8px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
}

div[class^='message'] {
  margin: 0 25px;
}

.message-master {
  position: relative;
  border-radius: 6px;
  border: 1px solid #e6e8ee;
  padding: 10px 0;
}
.message-master p {
  padding: 10px 20px;
  margin: 0;
}
.message-master h3 {
  margin: 10px 20px 15px;
  font-size: 29px;
}
@media only screen and (max-width: 479px) {
  .message-master {
    border-left: 0 none !important;
    border-radius: 0 !important;
    border-right: 0 none !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.message-error, .message-error-up, .message-error-down {
  position: relative;
  border-radius: 2px;
  background-color: #e17776;
  border-color: #e17776;
  color: #ffffff;
  font-weight: bold;
}
.message-error p, .message-error-up p, .message-error-down p {
  padding: 10px 20px;
  margin: 0;
}
.message-error h3, .message-error-up h3, .message-error-down h3 {
  margin: 10px 20px 15px;
  font-size: 29px;
}
@media only screen and (max-width: 479px) {
  .message-error, .message-error-up, .message-error-down {
    border-left: 0 none !important;
    border-radius: 0 !important;
    border-right: 0 none !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.message-info, .message-info-up, .message-info-down {
  position: relative;
  border-radius: 2px;
  background-color: #3399ff;
  border-color: #3399ff;
  color: #ffffff;
  font-weight: bold;
}
.message-info p, .message-info-up p, .message-info-down p {
  padding: 10px 20px;
  margin: 0;
}
.message-info h3, .message-info-up h3, .message-info-down h3 {
  margin: 10px 20px 15px;
  font-size: 29px;
}
@media only screen and (max-width: 479px) {
  .message-info, .message-info-up, .message-info-down {
    border-left: 0 none !important;
    border-radius: 0 !important;
    border-right: 0 none !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.message-error-up:before {
  border-bottom-color: inherit;
  border-bottom-style: solid;
  border-bottom-width: 16px;
  top: -10px;
}

.message-error-down:after {
  border-top-color: inherit;
  border-top-style: solid;
  border-top-width: 16px;
  bottom: -10px;
}

.message-info-up:before {
  border-bottom-color: inherit;
  border-bottom-style: solid;
  border-bottom-width: 16px;
  top: -10px;
}

.message-info-down:after {
  border-top-color: inherit;
  border-top-style: solid;
  border-top-width: 16px;
  bottom: -10px;
}

.help-bubble {
  color: #ffffff;
  font-size: 14px;
  line-height: 23px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 10px;
  z-index: 20;
}
.help-bubble.is-hidden {
  display: none;
}
@media only screen and (max-width: 789px) {
  .help-bubble {
    max-width: 450px;
    padding: 0;
    margin-left: -5px;
  }
}

.help-bubble-content {
  border-radius: 4px;
  padding-bottom: 30px;
  background: #444a62;
  background-color: rgba(68, 74, 98, 0.95);
}
.help-bubble-content p {
  padding: 10px 15px 0;
  max-width: 350px;
}
.help-bubble-content ul {
  margin: 10px 15px 0 40px;
  list-style: disc outside;
}
.help-bubble-content li {
  padding: 3px 0;
}

.help-bubble-header {
  padding: 15px 15px 0;
  font-weight: bold;
}

.help-bubble-close-button {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  position: absolute;
  right: 20px;
}
.help-bubble-close-button:hover {
  color: #ffffff;
}

nav {
  overflow: auto;
  width: 100%;
  margin: 30px 0;
  padding: 0 25px;
}
nav button {
  margin: 0;
}
nav .button-primary {
  float: right;
  width: 200px;
}
nav .button-not-selected {
  float: left;
  width: 125px;
}

@media only screen and (max-width: 479px) {
  nav {
    position: relative;
    padding: 0 10px;
  }
  nav .button-primary {
    float: none;
    width: 100%;
    display: block;
  }
  nav .button-not-selected {
    position: absolute;
    top: 80px;
  }
  nav .button-not-selected + .button-primary {
    margin-bottom: 80px;
  }
}
.help-link {
  vertical-align: top;
  position: absolute;
  top: 8px;
  right: 10px;
  display: inline-block;
  min-height: 35px;
  line-height: 35px;
  width: 35px;
  text-align: center;
  font-weight: bold;
  border-radius: 18px;
  text-decoration: none;
  border: 1px solid #c9d0e1;
  background-color: transparent;
  -webkit-transition: background-color    .2s linear  border-color        .2s  color               .2s linear;
          transition: background-color    .2s linear  border-color        .2s  color               .2s linear;
}
.help-link:focus, .help-link:hover {
  background-color: #438bca;
  border-color: #438bca;
  color: #ffffff;
}
.help-link:focus {
  outline: 1px dotted #668002;
}
@media only screen and (max-width: 479px) {
  .help-link {
    display: block;
    position: static;
  }
}
