html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

:focus {
  outline: 0;
}

body {
  line-height: 1;
  color: #000000;
  background: #ffffff;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  *behavior: url(/assets/js/boxsizing.htc);
  -webkit-text-size-adjust: 100%;
}

html {
  height: auto;
  max-height: none;
}

body {
  height: auto;
  max-height: none;
  font: normal normal normal 16px/26px Arial, Helvetica, sans-serif;
  color: #444a62;
  margin: 0;
  background-color: #eceef4;
}

#Quote {
  width: 960px;
  margin: 0 auto;
}

header {
  background-color: #444a62;
  margin-bottom: 37px;
}

nav {
  width: 100%;
  margin: 30px 0;
  padding: 0 25px;
}

footer {
  background-color: #444a62;
  margin-top: 37px;
}

strong {
  font-weight: bold;
}

abbr {
  border-bottom: 1px dotted;
  cursor: help;
}

h1 {
  font-family: Raleway;
  font-size: 42px;
  line-height: 1.4;
  font-weight: 500;
  margin: 15px auto;
  color: #c6ccea;
  width: 960px;
}

h2 {
  font-family: Raleway;
  font-size: 42px;
  line-height: 1.4;
  font-weight: 300;
  margin: 0.5em 25px;
}

h3 {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.4;
  font-weight: 300;
  margin: 1em 0;
}

a {
  color: #438bca;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

#Quote {
  background-color: #ffffff;
  border: 1px solid #c9d0e1;
  border-radius: 6px;
}

.quote-panel {
  padding: 0 25px;
}

.message + .quote-panel,
p + .quote-panel-content,
.message + .message,
.quote-panel + .message {
  margin-top: 25px;
}

p {
  display: block;
  clear: both;
  padding: 10px;
  max-width: 685px;
}

.quote-panel-content > ul {
  display: block;
  float: left;
  width: 100%;
}

.quote-panel-content > ul > li {
  display: block;
  float: left;
  width: 100%;
  clear: both;
  padding: 5px;
  border-top: 1px solid #eff1f8;
}

.quote-panel-content > ul > li.message + li,
.quote-panel-content > ul > li:first-child {
  border-top: none;
}

.quote-panel p {
  padding-left: 0;
  padding-right: 0;
}

.quote-panel-content label {
  display: block;
  float: left;
  width: 45%;
  text-align: right;
  padding: 13px 9px 8px 10px;
}

.quote-panel-content li > div,
.quote-panel-content li > span {
  display: block;
  float: right;
  width: 55%;
  position: relative;
  padding: 0 57px 0 9px;
}

.quote-panel-content li > div > label {
  float: none;
  text-align: left;
  width: 100%;
}

.quote-panel-content label i,
.quote-panel-content span > i {
  display: block;
  clear: both;
  font-size: 13px;
  line-height: 21px;
  font-style: normal;
  font-weight: normal;
  color: #6e768f;
}

.quote-panel-content span > b {
  /*	PREFIX	*/
  display: inline-block;
  padding-top: 13px;
  margin-right: 5px;
  font-weight: normal;
}

.quote-panel-content span > p {
  /*	INLINE VALUE	*/
  padding: 5px 0;
  margin: 8px 10px 0 0;
  display: inline-block;
}

/*=====================================================================================================	*/
/*	ERRORS	*/
/*=====================================================================================================	*/
.quote-panel-content li.error {
  /*	ROW ERROR	*/
  background-color: #e17776;
  border-top: 1px solid transparent;
  color: #ffffff;
  margin: 1px 0;
}

.quote-panel-content li.error + li {
  border-top: 1px solid transparent;
}

.quote-panel-content .error > label {
  font-weight: bold;
}

/*=====================================================================================================	*/
/*	INPUTS	*/
/*=====================================================================================================	*/
/*	PLACEHOLDERS	*/
*::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #b7b7b7 !important;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #b7b7b7 !important;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #b7b7b7 !important;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #b7b7b7 !important;
}

/*	RADIO GROUP	*/
.radio-group div {
  float: left;
  min-width: 105px;
  padding: 0;
}

.radio-group label {
  display: inline;
  width: 100%;
  min-width: 80px;
  margin-right: 0;
  font-weight: normal;
  float: right;
  cursor: pointer;
  padding: 9px 30px 10px;
  text-align: left;
}

.radio-group label i {
  width: auto;
  text-align: left;
  color: #464646;
}

.radio-group .is-selected label, .radio-group .is-selected label i {
  color: #ffffff;
}

.radio-group input {
  margin: 10px 0 0 10px;
  position: absolute;
  /*	IE PIXEL SHIFT BUG*/
}

.radio-group input:focus {
  box-shadow: 0 0 3px green;
}

/*	END RADIO GROUP	*/
button::-moz-focus-inner {
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  /* REMOVE WEBKIT SPINNERS */
  -webkit-appearance: none;
  margin: 0;
}

input[type='text'], input[type='email'], input[type='number'], input[type='tel'], select, button, .button {
  border-radius: 2px;
  border: 1px solid #c3c5cc;
  background: #ffffff;
  padding: 5px;
  margin-right: 15px;
  margin-top: 8px;
  margin-bottom: 6px;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  /*line-height: inherit;	don't do as buttons and inputs react differently	*/
  line-height: 1;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  /*	FF: LIN-HEIGHT BUG */
  min-height: 37px;
  /* =  line-height + border + padding*/
  /*	IE: LAYOUT BUG */
  vertical-align: top;
}

input[type='text']:focus, input[type='email']:focus, input[type='number']:focus, input[type='tel']:focus, select:focus {
  background-color: #f0f3f3;
}

input[type='text'], input[type='email'], input[type='number'], input[type='tel'] {
  width: 225px;
  /* REMOVE IOS INNER SHADOW */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}

.quote-panel-content select {
  min-width: 225px;
  max-width: 225px;
  padding-top: 6px;
  /* 1px more than input*/
}

.quote-panel-content select.min {
  min-width: 0;
}

input.pre, select.pre {
  margin-right: 5px;
}

input[type='radio'], input[type='checkbox'] {
  cursor: pointer;
  padding: 0;
}

.quote-panel-content span > b.prefix,
.quote-panel-content span > b.suffix {
  margin: 0;
  margin-top: 8px;
  background-color: #f0f3f3;
  border: 1px solid #c3c5cc;
  width: 40px;
  display: inline-block;
  padding: 4px 5px 5px;
  text-align: center !important;
}

input.prefix {
  width: 185px;
  border-radius: 0 2px 2px 0;
  border-left: none;
}

/*input.suffix-input {*/
input.suffix {
  width: 185px;
  border-radius: 2px 0 0 2px;
  border-right: none;
  margin-right: 0;
}

b.prefix {
  border-radius: 2px 0 0 2px;
}

b.suffix {
  border-radius: 0 2px 2px 0;
  margin-right: 15px !important;
}

/*	OVERIDES*/
input[type='text'].search {
  background-image: url("../images/icon-search.png");
  background-repeat: no-repeat;
  background-position: 0.2em center;
  padding-left: 20px;
}

input[type='tel'].sort-code {
  width: 35px;
  text-align: center;
}

input[type='tel'].phone {
  width: 136px;
}

input[type='tel'].numericinput {
  width: 48px !important;
}

/*=====================================================================================================	*/
/*	AJAX SEARCH	*/
/*=====================================================================================================	*/
.quote-panel-content .ajax-float {
  position: absolute;
  width: 253px;
  max-height: 300px;
  border: 1px solid #aaaaaa;
  background-color: #ffffff;
  overflow: auto;
  display: none;
  Z-index: 999;
  left: 9px;
  top: 36px;
}

.quote-panel-content .ajax-float div {
  width: auto;
  border-bottom: 1px solid #cccccc;
  padding: 0;
}

.quote-panel-content .ajax-float div:last-child {
  border-bottom: none;
}

.quote-panel-content .ajax-float div a {
  display: block;
  color: #464646;
  text-decoration: none;
  padding: 4px 5px;
  font-size: 14px;
  font-weight: normal;
}

.quote-panel-content .ajax-float div a:hover,
.quote-panel-content .ajax-float div a:focus {
  background-color: #eff2eb;
}

/*=====================================================================================================	*/
/*	HELP	*/
/*=====================================================================================================	*/
a.help {
  vertical-align: top;
  position: absolute;
  top: 8px;
  right: 10px;
  display: inline-block;
  min-height: 35px;
  line-height: 35px;
  width: 35px;
  text-align: center;
  font-weight: bold;
  /*	NEW FLAT DESIGN	*/
  border-radius: 18px;
  text-decoration: none;
  border: 1px solid #c9d0e1;
  background-color: transparent;
}

a.help:focus,
a.help:hover {
  background-color: #438bca;
  border-color: #438bca;
  color: #ffffff;
}

a.help:focus {
  outline: 1px dotted #668002;
}

.quote-panel-content div.help-content {
  color: #ffffff;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 10px 0 9px;
  z-index: 20;
  margin: 0;
}

.quote-panel-content div.help-content > div {
  background-color: #444a62;
  background-color: rgba(68, 74, 98, 0.95);
  width: 100%;
  border-radius: 4px;
  margin: 0;
}

.quote-panel-content div.help-content h5 {
  font-size: 14px;
  line-height: 23px;
  padding: 12px 40px 0 15px;
  color: #ffffff;
  font-weight: bold;
}

.quote-panel-content div.help-content p {
  font-size: 14px;
  line-height: 23px;
  padding: 10px 15px 0;
  max-width: 350px;
}

.quote-panel-content div.help-content p.help-close {
  padding: 0 10px 10px 10px;
  margin-top: -5px !important;
  text-align: right;
  max-width: none;
}

.quote-panel-content div.help-content p.help-close a {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.quote-panel-content div.help-content p.help-close a:hover {
  color: #ffffff;
}

.quote-panel-content div.help-content ul {
  margin: 10px 15px 0 40px;
  list-style: disc outside;
}

.quote-panel-content div.help-content li {
  font-size: 14px;
  line-height: 23px;
  padding: 3px 0;
}

.quote-panel-content div.help-content a {
  display: inline;
  color: #ffffff;
}

.quote-panel-content div.help-content a:hover {
  text-decoration: none;
  background: none;
  color: #ffffff;
}

.quote-panel-content div.help-clear {
  display: none !important;
}

/*=====================================================================================================	*/
/*	PAGING	*/
/*=====================================================================================================	*/
nav {
  text-align: right;
}

nav button {
  display: inline-block;
  width: 200px;
  text-align: center;
  margin: 0;
}

nav .button.primary {
  float: right;
}

nav .button.grey {
  float: left;
  width: 100px;
  width: 125px;
  min-width: 0;
  margin-top: 3px;
  font-weight: normal;
}

/*=====================================================================================================	*/
/*	CLEARFIX http://nicolasgallagher.com/micro-clearfix-hack/	*/
/*=====================================================================================================	*/
.cf:before, .cf:after {
  /*	FOR MODERN BROWSERS	*/
  content: '';
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  /*	FOR IE 6/7 (TRIGGERS HASLAYOUT)	*/
  zoom: 1;
}

/*=====================================================================================================	*/
/*	TRANSITIONS	*/
/*=====================================================================================================	*/
a.help,
.quote-panel-content li,
input[type='text'], input[type='email'], input[type='number'], input[type='tel'] {
  -webkit-transition: background-color .2s linear;
          transition: background-color .2s linear;
}

a.help {
  -webkit-transition: background-color .2s linear color .2s linear border-color .2s;
          transition: background-color .2s linear color .2s linear border-color .2s;
}

/*=====================================================================================================	*/
/*	MEDIA QUERIES	*/
/*=====================================================================================================	*/
@media all and (max-width: 1000px) {
  header h1,
  #Quote {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media all and (max-width: 789px) {
  .quote-panel-content li > label {
    float: none;
    text-align: left;
    width: auto;
    padding: 0;
  }

  .quote-panel-content li > span {
    /*float:none;*/
    width: 100%;
    padding-left: 0;
  }

  .quote-panel-content div.help-content {
    max-width: 450px;
    padding: 0;
    margin-left: -5px;
  }

  .quote-panel-content .ajax-float {
    left: 0;
  }

  .quote-panel-content li > div {
    padding-left: 0;
    width: 100%;
  }
}
@media all and (max-width: 479px) {
  body {
    min-width: 320px;
  }

  .quote-panel {
    padding: 0;
  }

  .quote-panel h3,
  .quote-panel p,
  .quote-panel-content > ul > li {
    padding-left: 10px;
    padding-right: 10px;
  }

  .quote-panel-content li > div,
  .quote-panel-content li > span {
    padding-right: 0;
  }

  header h1, #Quote {
    margin-left: 10px;
    margin-right: 10px;
  }

  .button {
    width: 100%;
    /*		text-align:center;*/
  }

  .quote-panel h3 {
    background-color: #444a62;
    color: #c6ccea;
    margin-bottom: .5em;
    padding: 0.5em 10px;
  }

  /*=====================================================================================================	*/
  /*	RADIO GROUPS	*/
  /*=====================================================================================================	*/
  .quote-panel-content li > div > label {
    padding-left: 0;
    padding-right: 0;
  }

  .quote-panel-content .radio-group div.button {
    /*	BOOL - 50/50 SPLIT	*/
    margin-right: 0;
    width: 48%;
  }

  .quote-panel-content .radio-group div:first-child {
    margin-right: 4%;
  }

  .quote-panel-content .radio-group.not-bool div {
    /*	NOT BOOL 100% WIDTH	*/
    margin-right: 0;
    clear: both;
    width: 100%;
  }

  /*=====================================================================================================	*/
  /*	INPUTS	*/
  /*=====================================================================================================	*/
  .quote-panel-content select,
  input[type='text'],
  input[type='email'],
  input[type='number'] {
    width: 100% !important;
    max-width: 100%;
  }

  .quote-panel-content select.min {
    width: auto !important;
  }

  input.sort-code {
    width: 35px !important;
  }

  .quote-panel-content span > b.prefix,
  .quote-panel-content span > b.suffix {
    width: 15%;
  }

  .quote-panel-content span > b.suffix {
    margin-right: 0 !important;
  }

  input.suffix,
  input.prefix {
    width: 85% !important;
    margin-right: 0;
  }

  .quote-panel-content .ajax-float {
    width: 100%;
  }

  /*=====================================================================================================	*/
  /*	HELP	*/
  /*=====================================================================================================	*/
  .radio-group .help {
    display: inline-block;
  }

  a.help {
    width: 120px;
    display: block;
    position: static;
  }

  /*=====================================================================================================	*/
  /*	PAGING	*/
  /*=====================================================================================================	*/
  nav {
    position: relative;
    text-align: left;
    margin: 25px 0 30px;
  }

  nav .button.primary {
    float: none;
    width: 100%;
    display: block;
  }

  nav .button.grey {
    position: absolute;
    margin-top: 0;
    top: 81px;
  }

  nav .button.grey + .button.primary {
    margin-bottom: 82px;
  }
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?xq3d2i");
  src: url("../fonts/icomoon.eot?#iefixxq3d2i") format("embedded-opentype"), url("../fonts/icomoon.woff?xq3d2i") format("woff"), url("../fonts/icomoon.ttf?xq3d2i") format("truetype"), url("../fonts/icomoon.svg?xq3d2i#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^='icon-']:before,
[class*=' icon-']:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-radio-checked:before {
  content: '\e600';
}

.icon-radio-unchecked:before {
  content: '\e601';
}

.icon-checkbox-checked:before {
  content: '\e602';
}

.icon-checkbox-unchecked:before {
  content: '\e603';
}

.icon-arrow-left:before {
  content: '\e604';
}

.icon-arrow-down:before {
  content: '\e605';
}

.icon-arrow-up:before {
  content: '\e606';
}

.icon-arrow-right:before {
  content: '\e607';
}

.message-error-up:before, .message-error-down:after, .message-info-up:before, .message-info-down:after {
  content: '';
  height: 0;
  width: 0;
  left: 50%;
  position: absolute;
  margin-left: -8px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
}

.message {
  position: relative;
  border-radius: 2px;
}
.message p {
  padding: 10px 20px;
  margin: 0;
}
.message h3 {
  margin: 10px 25px 15px;
  font-size: 29px;
}
@media all and (max-width: 479px) {
  .message {
    border-left: 0 none !important;
    border-radius: 0 !important;
    border-right: 0 none !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

div.message {
  margin: 0 25px;
}

.message-master {
  border: 1px solid #e6e8ee;
  border-radius: 6px;
  padding: 10px 0;
}

.message-error, .message-error-up, .message-error-down {
  background-color: #e17776;
  border-color: #e17776;
  color: #ffffff;
  font-weight: bold;
}

.message-info, .message-info-up, .message-info-down {
  background-color: #3399ff;
  border-color: #3399ff;
  color: #ffffff;
  font-weight: bold;
}

.message-error-up:before {
  border-bottom-color: inherit;
  border-bottom-style: solid;
  border-bottom-width: 16px;
  top: -10px;
}

.message-error-down:after {
  border-top-color: inherit;
  border-top-style: solid;
  border-top-width: 16px;
  bottom: -10px;
}

.message-info-up:before {
  border-bottom-color: inherit;
  border-bottom-style: solid;
  border-bottom-width: 16px;
  top: -10px;
}

.message-info-down:after {
  border-top-color: inherit;
  border-top-style: solid;
  border-top-width: 16px;
  bottom: -10px;
}
