@charset "utf-8";
/* CSS Document */
/*	BUTTON GLOBALS ===========	*/
.button {
	cursor: pointer;
	text-decoration:none;
	min-width:125px;
	background-repeat: repeat-x;
	color:#464646;
}

.button.large	{
	min-width:50%;
	font-size:20px; 
	font-weight:bold;
	padding:1em; 
}

.button:hover, .button:active, .button:focus	{
	background-color:#000000;
}
.button:active{ 
	position:relative; 
	top:1px;
}
/*	END BUTTON GLOBALS ===========	*/
/*	BUTTON TYPES ===========	*/
.secondary	{	/*	Primary call to action */ 
	color:#fff;
	background-color:#3399ff;
	border-color:#2a8ebe;
}.secondary:hover, .secondary:active, .secondary:focus { background-color:#2a8ebe;}

.primary	{	/*	Inline call to action: get address ,reg etc.	*/
	color:#FFFFFF;
	background-color: #5fcac6;
	border-color:#54aca9;
}.primary:hover, .primary:active, .primary:focus	{ background-color:#54aca9;}

.button.is-selected{	/*	Radio button ON state */
	color:#ffffff;
	background-color: #74b533;
	border-color:#599A18;
}.is-selected:hover, .is-selected:active , .is-selected:focus	{ background-color:#599A18;}

.not-selected{	/*	Radio button OFF state */
	color:#464646;
	background-color:#f7f7fa;
} .not-selected:hover, .not-selected:active, .not-selected:focus{ background-color:#F3F3F6;}