.content-main {
    width: $break-large - (2 * $gutter-page);;
    margin: 0 auto;

    @include clearfix;
    background-color: $white;
    border: 1px solid $pannel-border-colour;
    border-radius: 6px;
}

.global-header {
    @include clearfix;
    background-color: $header-colour;
    margin-bottom: 90px;
}

.global-footer {
    @include clearfix;
    background-color: $footer-colour;
    margin-top: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}

// =====================================================================================================	*/
//	form	*/
// =====================================================================================================	*/

.form {
    @include clearfix;
    padding: 0 25px;

    p {
        padding-left: 0;
        padding-right: 0;
    }
}

.form__content {
    @include clearfix;
}

[class^='message'] + .form,
p + .form__content,
[class^='message'] + [class^='message'],
.form + [class^='message'] {
    margin-top: 25px;
}

.form__group {
    @include background-transition;
    display: block;
    float: left;
    width: 100%;
    clear: both;
    padding: 10px;
    border-top: 1px solid $white-lilac;
}

// Errors
.form__group--error {
    @extend .form__group;
    background-color: $error-background-colour;
    border-top-color: transparent;
    color: $white;
    margin: 1px 0;

    + .form__group {
        border-top-color: transparent;
    }

    .form__question {
        font-weight: bold;
    }

    [class^='form__control'] {
        color: $text-colour;
    }
}

li[class^='message'] + .form__group,
.form__group:first-child {
    border-top: 0;
}

.form__question {
    display: block;
    float: left;
    width: 45%;
    text-align: right;
    padding: 5px 10px;
    margin-top: 5px;
}

.form__answer {
    display: block;
    float: right;
    width: 55%;
    position: relative;
    padding: 0 55px 0 10px;
    
    .unit-prefix,
    .unit-suffix,
    .touch-control,
    .textual-value,
    [class^='button'],
    [class^='form__control'] {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.form__hint {
    //	SUB TEXT
    display: block;
    clear: both;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    color: $secondary-text-colour;
}

.form__control-delimiter {
    display: inline-block;
    padding-top: 5px;
    margin-right: 10px;
    margin-left: -5px;
    font-weight: normal;
}

// .unit-prefix,
// .unit-suffix {
//     display: inline-block;
//     padding-top: 13px;
//     margin-right: 15px;
//     font-weight: normal;
// }

//=====================================================================================================	*/
//	INPUTS	*/
//*=====================================================================================================	*/
%form__control {
    border-radius: 2px;
    border: 1px solid $border-colour;
    background: $white;
    padding: 5px;
    margin-right: 15px;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    //line-height: inherit;	don't do as buttons and inputs react differently
    line-height: 1;
    //	FF: LIN-HEIGHT BUG 
    min-height: 37px;
    // =  line-height + border + padding
    //	IE: LAYOUT BUG
    vertical-align: top;

    // IE8 min-height bug (-padding & border)
    .ie8 & {
        min-height: 25px;
    }

    &:focus {
        background-color: $muted-colour;
    }
}

.form__control {
    @extend %form__control;
    @include background-transition;

    width: 225px;
    // REMOVE IOS INNER SHADOW
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(0, 0%, 100%, 0)), to(hsla(0, 0%, 100%, 0)));
    background-image: -webkit-linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0));
    @include placeholder;
}

//  Modifiers: ---------------------------------- //

.form__control--textarea {
    @extend %form__control;
    @include background-transition;
    
    font-size: inherit;
    line-height: inherit;
    width: 325px;
    resize: vertical;
}

.form__control--select {
    @extend %form__control;
    min-width: 225px;
    max-width: 225px;
    padding-top: 6px;

    background-image: url('/assets/images/drop.png');
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 30px;
    -webkit-appearance: none;
    -ms-appearance: none;
    //-moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.form__control--select--min {
    @extend %form__control;
    max-width: 225px;
    min-width: 0;
    padding-top: 6px;

    background-image: url('/assets/images/drop.png');
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 30px;
    -webkit-appearance: none;
    -ms-appearance: none;
    //-moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}

// DAMN YOU FIREFOX! 
// & your broken -moz-appearance: none;
@-moz-document url-prefix() { 
    .form__control--select,
    .form__control--select--min {
        padding-right: 6px;
        background-image: none;
    }
}

.form__control--search {
    @extend %form__control;
    @include background-transition;
    
    width: 225px;
    background-image: url('../images/icon-search.png');
    background-repeat: no-repeat;
    background-position: .2em center;
    padding-left: 20px;
}

.form__control--xs {
    @extend %form__control;
    @include background-transition;

    width: 48px;
}

.form__control--xxs {
    @extend %form__control;
    @include background-transition;

    width: 35px;
    text-align: center;
}

.unit-prefix,
.unit-suffix {
    display: inline-block;
    padding-top: 13px;
    margin-right: 15px;
    font-weight: normal;

    margin: 0;
    margin-top: 8px;
    background-color: $muted-colour;
    border: 1px solid $border-colour;
    width: 40px;
    // display: inline-block;
    padding: 4px 5px 5px;
    text-align: center !important;
}

.unit-prefix {
    border-radius: 2px 0 0 2px;
}

.unit-suffix {
    border-radius: 0 2px 2px 0;
    margin-right: 15px !important;
}

.has-prefix {
    width: 185px;
    border-radius: 0 2px 2px 0;
    border-left: 0;
}

.has-suffix {
    width: 185px;
    border-radius: 2px 0 0 2px;
    border-right: 0;
    margin-right: 0;
}

// ----------------------------------------
// MQs
// ----------------------------------------
@include respond-to(wide-screens) { 
    .global-header h1,
    .content-main {
        width: auto;
        margin-left: $gutter-page;
        margin-right: $gutter-page;
    }
}

@include respond-to(medium-screens) {
    .form__question {
        float: none;
        text-align: left;
        width: auto;
        padding: 0;
    }

    .form__answer {
        padding-left: 0;
        width: 100%;
    }
}

@include respond-to(handhelds) {
    body {
        min-width: 320px;
    }

    .form {
        padding: 0;
    }

    .form p,
    .form__group {
        padding-left: 10px;
        padding-right: 10px;
    }

    .form__answer {
        padding-right: 0;
    }

    .global-header h1,
    .content-main {
        margin-left: 10px;
        margin-right: 10px;
    }

    // ----------------------------------------
    // Inputs
    // ----------------------------------------
    .form__control--textarea,
    .form__control--select,
    .form__control--search,
    .form__control {
        width: 100% !important;
        max-width: 100%;
    }
    
    .unit-prefix,
    .unit-suffix {
        width: 15%;
    }

    .unit-suffix {
        margin-right: 0 !important;
    }
    
    .has-suffix,
    .has-prefix {
        width: 85% !important;
        margin-right: 0;
    }

    // ===================================================================================================== */
    //   HELP    */
    // ===================================================================================================== */
    .radio-group .help-link {
        //  FIXES RADIO GROUP TOP MARGIN BUG 
        display: inline-block;
    }
}
