//  inspiration: http://tympanus.net/Tutorials/OriginalHoverEffects/

.sub-nav {
    width: 100%;
    background-color: #fafafa;
    margin-bottom: -60px;
    position: relative;
    top: -90px;
    border-bottom: 1px solid #e0e0e0;
    

    &__content {
        position: relative;
        width: $break-large - (2 * $gutter-page);
        margin: 0 auto;

        @include respond-to(wide-screens) { 
            width: auto;
            margin-left: $gutter-page;
            margin-right: $gutter-page;
        }
    }

    &__actions {
        position: absolute;
        right: 0;
        top: 0;
        height: 60px;

        a {
            line-height: 60px;
            text-decoration: none;
        }
    }

    &__prompt-link {
        display: none;

        @include respond-to(medium-screens) { 
            display: inline;
            text-decoration: none;
            text-transform: uppercase;
            line-height: 60px;
            letter-spacing: 1px;
            font-size: 14px;
        }
    }

    &__destinations {
        overflow: hidden;
        
        @include respond-to(medium-screens) { 
            display: none;
        }

    }

    &__item {
        display: block;
        float: left;
        margin-right: 15px;
        
        &:last-child {
            margin-right: 0;
        }
    }

    &__item-link {
        text-decoration: none;
        text-transform: uppercase;
        line-height: 60px;
        letter-spacing: 1px;
        font-size: 14px;
    }

    .sticky & {
        position: fixed;
        z-index: 999;
        opacity: .9;
    }

    .sticky.no-touch & {
        top: 0;
    }

    .sticky.touch & {
        top: inherit;
        bottom: 0;
        margin-bottom: 0;
    }

    // @include respond-to(medium-screens) { 
        
    // }
}
